<ion-header>
  <ion-navbar>
    <ion-title>Knowledge Base</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
          <ion-item>
            <h1>Register</h1>
          </ion-item>
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" [(ngModel)]="currentUser.username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [(ngModel)]="currentUser.password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="login-button" (click)="doRegister()" style="width:100%;">Login</button>
      </ion-col>
    </ion-row>
</ion-content>
